.cardContainer {
  display: flex;
  flex-wrap: wrap;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 24%;
  height: 400px;
  background-color: white;
  text-align: center;
  margin: 6px;
  border-radius: 8px;
  padding: 20px;
}

